body
{
    background-color:rgb(110, 182, 206);
    background-size: 100%;
}

div nav ul a.alista
{
    text-decoration: none;
    color:whitesmoke;
    display: inline;
    padding: 3%;
}

div nav ul a.alista:hover
{
    color: yellow;
}

div nav ul li
{
    display: inline;
    list-style: none;
}

div nav ul
{
    display: inline;
}

.menu
{
   margin-top: 6%;
}

.menu-mobile{
    display:none;
  }

div.logo img
{
    margin: 5% auto;
}

.resumo-title{
    text-align:center;
}

.text-n-tarefas{
    text-align: center;
    padding-top:5%;
}

.img-joinha{
    margin:0 auto;
    display:block;
    padding-top:5%;
}

.text-novatarefa{
    text-align: center;
    padding-top:5%;
}

.botão-tarefa{
    display: block;
    margin:0 auto;
    border-color: #000cee;
    background-color: #bdbdbd;
}

.botão-novatarefa{
    padding-top:8%;
    padding-bottom:5%;

}


.footer{
    background-color: antiquewhite;
    margin-top: 22.5%;
}

.copyright{
    margin:0 auto;
    padding-top:4%;
    padding-left:5%;
}

.logo-puc{
    padding-top:3%;
    padding-bottom:3%;
    margin-left:40%;
}

@media screen and (max-width:992px){

    div nav ul a.alista
  {
    text-decoration: none;
    color:black;
    display: block;
    padding: 3%;
  }
  
  div nav ul a.alista:hover
  {
    color: yellow;
  }
  
  div nav ul li
  {
    display: block;
  }
  
  div nav ul
  {
    display: block;
  }
  
  .menu-lista{
    display:none;
    position: relative;
    
  }
  
  .menu-mobile{
    display:inline;
  }
  
  input.menu-mobile{
    display:none;
  }
  
  i{
    display:block;
    margin: 0 auto;
    padding-bottom:2%;
  }
  
  #menu-mobile:checked ~ label i:nth-child(2) {
    display: block;
  }
  #menu-mobile:checked ~ label i:first-child {
    display: none;
  }
  #menu-mobile:not(:checked) ~ label i:first-child {
    display: block;
  }
  #menu-mobile:not(:checked) ~ label i:nth-child(2) {
    display: none;
  }
  
  #menu-mobile:checked ~ .menu-lista{
  
    display: block;
    width:100%;
    background-color:rgb(139, 184, 236);
    color:black;
    
  
  }
  #menu-mobile:checked ~ .alista{
  
    display: block;
    color:black;
  }

.logo-saturno{
    display: block;
    margin: 0 auto;
}

.text-novatarefa{
    padding-top:20%;
}


.footer{
    margin-top:10%;

}

.copyright{
    text-align: center;
}


}