body
{
    background-color:rgb(110, 182, 206);
    background-size: 100%;
}

.esquerda-title{
    margin-top:10%;
}

.logo-site{
    padding-top:10%;
}

.caixa-login{
    background-color:antiquewhite;
    margin-top:30%;
    margin-bottom:10%;
    margin-right:10%;
    margin-left:15%;
    padding-top:5%;
    padding-bottom:5%;
    border-radius: 10px;
   
}
.login-title{
    padding-left:3%;
    padding-bottom:5%;
}

.forms-login{
    padding-left:5%;
    padding-right:5%;
}

.form-control{
    width:95%;
}

.esqueceu-senha a{
    text-align: center;
}

.botões-login button, input{
    display: block;
    margin: 0 auto;
}

.botão2{
    margin-top:5%;
    
}

.criar-conta{
    border-color:rgb(173, 172, 172);
    background-color: rgb(34, 33, 33);
    color:white;
    width:25%;
}


@media screen and (max-width:992px){

    body
    {
        background-color:rgb(110, 182, 206);
        background-size: 100%;
    }
    
    .esquerda-title{
        margin: 0 auto;
        display:block;
        padding-top:5%;
    }

    .title-site{
        display:none;
    }

    .subtitle{
        display:none;
    }
    
    .logo-site{
        width:60%;
        margin:0 auto;
        display:block;
    }
    
    .caixa-login{
        width:100%;
        background-color:antiquewhite;
        margin-top:5%;
        margin-bottom:10%;
        margin-left:0;
        margin-right:0;
        padding-top:5%;
        padding-bottom:5%;
        border-radius: 10px;
       
    }
    .login-title{
        padding-left:3%;
        padding-bottom:5%;
    }
    
    .forms-login{
        padding-left:5%;
        padding-right:5%;
    }
    
    .form-control{
        width:95%;
        padding-left:3%;
    }
    
    .esqueceu-senha a{
        text-align: center;
    }
    
    .botões-login button{
        display: block;
        margin: 0 auto;
    }
    
    .botão2{
        margin-top:5%;
        
    }
    
    .criar-conta{
        border-color:rgb(173, 172, 172);
        background-color: rgb(34, 33, 33);
        color:white;
        width:25%;
    }
}