<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="template-criaConta.css">
    <title>Template Criação de Conta</title>
</head>
<body>
    <section class="container criaConta">
        <div class="row">
            <div class="col-lg-10 col-sm 10 criacontatitle">
                <h1>Crie sua conta:</h1>
                <h2>e começe a revolução!</h2>
            </div>

            <div class="col-lg-2 col-sm-2 forms">
                <a href="template-telaInicial.html"><img class="logo" alt="logo-saturno" src="imagens\logo-saturno.png"></a>
            </div>


            <form name="criaConta" action="createAccount" method="post">

                <div class="col-lg-6 col-sm-6 forms">
                    <p>
                        <label for="name"><b>Nome:</b></label>
                        <input type="text" id="nome" name="nome">
                    </p>
                </div>

                <div class="col-lg-6 col-sm-6 forms">
                    <p>
                        <label for="username"><b>Nome de Usuário:</b></label>
                        <input type="text" id="username" name="username">
                    </p>
                </div>

                <div class="col-lg-6 col-sm-6 forms">
                    <p>
                        <label for="password"><b>Senha:</b></label>
                        <input type="password" id="senha" name="senha">
                    </p>
                </div>

                <div class="col-lg-12 col-sm-12 forms">
                    <p>
                        <label for="email"><b>Email:</b></label>
                        <input type="email" id="email" name="email">
                    </p>
                </div>

                <div class="col-lg-6 col-sm-6 forms">
                    <p>
                        <label for="birthdate"><b>Data de Nascimento:</b></label>
                        <input type="date" id="date" name="date">
                    </p>
                </div>

                <div class="col-lg-6 col-sm-6 forms">
                    <p>
                        <label for="gender"><b>Gênero:</b></label>
                        <input type="text" id="gender" name="gender">
                    </p>
                </div>

                <div class="buttom">
                    <p>
                        <a href="template-SemTarefas.html"><button class="concluido">Concluído</button></a>
                    </p>
                </div>
                
            </form>

        </div>
    </section>

    <footer class="footer container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <p class="copyright">Todos os direitos reservados - <b>ICEI PUC MINAS</b></p>
            </div>

            <div class="col-lg-4 col-sm-12">
                <img class="logo-puc" src="imagens\puc-logo-certo.png" width="20%">
            </div>

        </div>

    </footer>
    <script src="login.js"></script>
    <script src="TP-index.js"></script>
    <script src="TP-login.js"></script>

    <script src="https://kit.fontawesome.com/a017ab5831.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
</body>
</html>