body
{
    background-color:rgb(110, 182, 206);
    background-size: 100%;
}

div nav ul a.alista
{
    text-decoration: none;
    color:whitesmoke;
    display: inline;
    padding: 3%;
}

div nav ul a.alista:hover
{
    color: yellow;
}

div nav ul li
{
    display: inline;
    list-style: none;
}

div nav ul
{
    display: inline;
}

.menu
{
   margin-top: 6%;
}

div.logo img
{
    margin: 5% auto;
}

.stats-title{

    text-align: center;
    padding-top:3%;

}


.footer{
    background-color: antiquewhite;
    margin-top:5%;
}

.copyright{
    margin:0 auto;
    padding-top:4%;
    padding-left:5%;
}

.logo-puc{
    padding-top:3%;
    padding-bottom:3%;
    margin-left:40%;
}