body
{
    background-color:rgb(110, 182, 206);
    background-size: 100%;
}

div nav ul a.alista
{
    text-decoration: none;
    color:whitesmoke;
    display: inline;
    padding: 3%;
}

div nav ul a.alista:hover
{
    color: yellow;
}

div nav ul li
{
    display: inline;
    list-style: none;
}

div nav ul
{
    display: inline;
}

.menu
{
   margin-top: 6%;
}

.menu-mobile{
    display:none;
  }

div.logo img
{
    margin: 5% auto;
}

.conquistas{

    text-align: center;
    padding-top:3%;

}

.conquista-box{
    background-color: rgb(250, 152, 24);
    border-radius: 5px;
    border:solid thick rgb(29, 28, 28);
    padding-top:2%;
    padding-bottom:2%;
    padding-left:3%;
    margin-top:3%;
    margin-bottom:2%;
    box-shadow:10px 10px rgb(56, 55, 55);
}

.fontp{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.img-conq{
    display:block;
    margin-left:70%;
}



.footer{
    background-color: antiquewhite;
}

.copyright{
    margin:0 auto;
    padding-top:4%;
    padding-left:5%;
}

.logo-puc{
    padding-top:3%;
    padding-bottom:3%;
    margin-left:40%;
}

@media screen and (max-width:992px){

    div nav ul a.alista
  {
    text-decoration: none;
    color:black;
    display: block;
    padding: 3%;
  }
  
  div nav ul a.alista:hover
  {
    color: yellow;
  }
  
  div nav ul li
  {
    display: block;
  }
  
  div nav ul
  {
    display: block;
  }
  
  .menu-lista{
    display:none;
    position: relative;
    
  }
  
  .menu-mobile{
    display:inline;
  }
  
  input.menu-mobile{
    display:none;
  }
  
  i{
    display:block;
    margin: 0 auto;
    padding-bottom:2%;
  }
  
  #menu-mobile:checked ~ label i:nth-child(2) {
    display: block;
  }
  #menu-mobile:checked ~ label i:first-child {
    display: none;
  }
  #menu-mobile:not(:checked) ~ label i:first-child {
    display: block;
  }
  #menu-mobile:not(:checked) ~ label i:nth-child(2) {
    display: none;
  }
  
  #menu-mobile:checked ~ .menu-lista{
  
    display: block;
    width:100%;
    background-color:rgb(139, 184, 236);
    color:black;
    
  
  }
  #menu-mobile:checked ~ .alista{
  
    display: block;
    color:black;
  }
}