body
{
    background-color:rgb(110, 182, 206);
    background-size: 100%;
}

.esquerda-title{
    margin-top:10%;
}

.logo-site{
    padding-top:10%;
}

.caixa-login{
    background-color:antiquewhite;
    margin-top:30%;
    margin-bottom:10%;
    margin-right:10%;
    margin-left:15%;
    padding-top:5%;
    padding-bottom:5%;
    border-radius: 10px;
   
}
.login-title{
    padding-left:3%;
    padding-bottom:5%;
}

.forms-login{
    padding-left:5%;
    padding-right:5%;
}

.form-control{
    width:95%;
}

.esqueceu-senha a{
    text-align: center;
}

.bot천es-login button{
    display: block;
    margin: 0 auto;
}

.bot찾o2{
    margin-top:5%;
    
}

.criar-conta{
    border-color:rgb(173, 172, 172);
    background-color: rgb(34, 33, 33);
    color:white;
    width:25%;
}

@media screen and (max-width:992px){

.title-site{
    display: none;
}

.subtitle{
    display:none;
}

.logo-site{
    margin:0 auto;
    display:block;
    width:60%;
}

.caixa-login{
    background-color:antiquewhite;
    margin-top:10%;
    margin-bottom:10%;
    margin-right:10%;
    margin-left:10%;
    padding-top:5%;
    padding-bottom:5%;
    border-radius: 10px;
    
   
}

.forms-login{
    padding-left:5%;
    padding-right:5%;
}

.form-control{
    width:95%;
}

.esqueceu-senha a{
    text-align: center;
}

.bot천es-login button{
    display: block;
    margin: 0 auto;
}

.bot찾o2{
    margin-top:5%;
    
}

.criar-conta{
    border-color:rgb(173, 172, 172);
    background-color: rgb(34, 33, 33);
    color:white;
    width:25%;
}

}