<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="template-perfil.css">
    <title>Template-Perfil</title>
</head>
<body>

    <header class="container cabecalho">
        <div class="row cabecalho">
            <div class="col-lg-3 col-sm-12 logo">
                    
                <a href="template-telaInicial.html"><img class="logo-saturno" src="imagens\logo-saturno.png" width="40%"></a>
    
            </div>
    
            <div class="col-lg-9">
                 <nav class="menu">

                    <input class="menu-mobile" type="checkbox" id="menu-mobile">
                  <label class="menu-mobile" for="menu-mobile">
                      <i class="fa fa-bars fa-3x"></i>
                      <i class="fa fa-times-circle fa-3x"></i>
                  </label>
                            
                    <ul class="menu-lista">
                        <li><a class="alista" href="template-SemTarefas.html">Resumo das Tarefas</a></li>
                        <li><a class="alista" href="template-calendário.html">Calendário</a></li>
                        <li><a class="alista" href="template-configuracao.html">Configurações</a></li>
                        <li><a class="alista" href="template-estatistica.html">Estatísticas</a></li>
                        <li><a class="alista" href="template-perfil.html">Conta</a></li>
                    </ul>
        
                </nav>
             </div>
    
        </div>
    </header>

    <main>

        <section class="title container">

            <div class="row">

                <div class="col-lg-12 col-sm-12">
                    <h1 class="perfil-title">Perfil!</h1>
                </div>
            </div>
        </section>

        <section class="container perfil">

            <div class="row">

                <div class="info col-lg-12 col-sm-12">
                    <img class="img-perfil" alt="img-perfil" src="imagens\logo-saturno.png" width="20%">
                </div>

                <div class="info-box row">
                    <div class="info col-lg-6 col-sm-6">
                        <h5><b>Nome:</b> <em>Bênio</em></h5>
                    </div>

                    <div class="info col-lg-6 col-sm-6">
                        <h5><b>Sobrenome:</b> <em>Tennilson</em></h5>
                    </div>

                    <div class="info col-lg-6 col-sm-6">
                        <h5><b>Email:</b> <em>benio10@gmail.com</em></h5>
                    </div>

                    <div class="info col-lg-6 col-sm-6">
                        <h5><b>Idade:</b> <em>10</em></h5>
                    </div>

                    <div class="info col-lg-6 col-sm-6">
                        <h5><b>Nascimento:</b> <em>10/10/2010</em></h5>
                    </div>

                    <div class="info col-lg-6 col-sm-6">
                        <h5><b>Gênero:</b> <em>M</em></h5>
                    </div>
                </div>

            </div>

            <div class="btn-perfil">
                <button>Editar Perfil</button>
            </div>

        </section>

    </main>


    <footer class="footer container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <p class="copyright">Todos os direitos reservados - <b>ICEI PUC MINAS</b></p>
            </div>

            <div class="col-lg-4 col-sm-12">
                <img class="logo-puc" src="imagens\puc-logo-certo.png" width="20%">
            </div>

        </div>

    </footer>

    <script src="https://kit.fontawesome.com/a017ab5831.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
</body>
</html>